.moveIcon {
    cursor: move !important;
    margin-left: -15px !important;
    padding: 3px;
    border: 1px solid black;
    border-radius: 7px;
    outline: none;
}
.rotateIcon {
    cursor: grab !important;
    border: 1px solid black;
    margin-left: -15px !important;
    padding: 3px;
    border-radius: 7px;
    outline: none;
}
.resizeIcon {
    cursor: nesw-resize !important;
    border: 1px solid black;
    margin-left: -15px !important;
    padding: 3px;
    border-radius: 7px;
    outline: none;
    display: none;
}
#toggleForm {
    display: none;
}