.moveIcon {
    cursor: move !important;
    background: white;
    margin-left: 0px !important;
    padding: 3px;
    border-radius: 7px;
    outline: none;
}
.rotateIcon {
    cursor: grab !important;
    background: white;
    margin-left: 0px !important;
    padding: 3px;
    border-radius: 7px;
    outline: none;
}
.resizeIcon {
    cursor: nesw-resize !important;
    background: white;
    margin-left: 0px !important;
    padding: 3px;
    border-radius: 7px;
    outline: none;
}